version: '3'
services:
  electric-flow:
    image: "ecdocker/eflow-ce-server"
    ports:
      - "8000:8000"
      - "8443:8443"
      - "443:443"
      - "80:80"
    networks:
      - internal
    container_name: electricflow
    tty: true
  jira:
    image: "electricflow/iis:iis10"
    ports:
      - "7808:7800"
      - "8080:80"
    networks:
      - internal
    container_name: iis
    tty: true
networks:
  internal:
    driver: bridge
